.vscode/*
app/.vscode
server/.vscode
server/package-lock.json
!.vscode/launch.json
!.vscode/tasks.json
.direnv
.eslintcache
**/node_modules
**/.DS_Store
**/build
**/*.env
**/.env
**/.env.test
**/env
**/dist
**/latestBuild.zip
**/cache
**/*.wav
**/*.pyc
**/.vite
**/*.csv
**/*.txt

**/clip*
**/Clip*
**/upload*
**/__pycache__
server/src/oapi
**/.deployment
!server/src/test/fixtures/**
.devcontainer
flake.lock
flake.nix
.envrc